body {
    font-family: Arial, sans-serif;
}

/* Light Mode Styles */
.light-mode {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

/* Dark Mode Styles */
.dark-mode {
    background-color: rgb(88, 88, 88);
    color: rgb(0, 0, 0);
}